.EditNewsModal {
    .MuiFormControl-root {
        margin: 8px 0;
    }
    .MuiFormHelperText-root {
        margin: 3px 0 0;
    }
    .MuiToggleButton-root {
        text-transform: none;
    }
    .date {
        margin-right: 10px !important;
    }
    .rate{
        display: flex;
        align-items: center;
        color: $gray_text;
        .MuiRating-root{
            margin-left: 5px;
        }
    }
}
