
.FastSearchModal{
    .MuiFormControl-root{
        margin: 8px 0;
    }
    .MuiFormHelperText-root{
        margin: 3px 0 0;
    }
    .MuiToggleButton-root{
        text-transform: none;
    }
    .buttons{
        .MuiButtonBase-root{
            white-space: nowrap;
            flex: 1;
            padding-top: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
        }
        .MuiButton-startIcon{
            margin-right: 0;
        }
        svg{
           height: 32px;
           width: 32px;
            font-size: 23px;
            margin-bottom: 5px;
        }
    }
}