$primary: #384094;
$primary_dark: #040949;
$primary_light: #6971d1;
$primary_lighter: #dcdfff;
$black: #515359;
$background: #e6e6f0;
$background_dark: #e3e5eb;
$disabled: #ececec;
$gray: #afafaf;
$gray_light: #c0c0c0;
$gray_text: #8d8f94;
$error: #d32f2f;
$warning: #885990;
$warning_light: #dbc4df;
$success:#43a047;
