.Sidebar {
  position: relative;
  height: 100%;
  width: 56px;
  padding: 20px 0;
  background-color: $primary;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  @media screen and (max-width: 700px) {
    width: 42px;
  }
  .logo {
    position: absolute;
    top: 20px;
    right: 50%;
    transform: translateX(50%);
    cursor: pointer;
    svg {
      width: 30px;
      height: 30px;
    }
  }
  .sidebar-items {
    margin-top: 80px;
    .sidebar-item{
      margin-bottom: 25px;
      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
  .logout {
  }
  .sidebar-item {
    border-radius: 10px;
    cursor: pointer;
    button{
      width: 40px;
      height: 40px;
      padding: 0;
      @media screen and (max-width: 700px) {
        width: 30px;
        height: 30px;
      }
    }
    &.active {
      background-color: $primary_light;
    }
  }
}
