.Jump {
    .title-action{
        margin-top: 5px;
    }
    .switch {
        display: flex;
        align-items: center;
        transform: translateY(-5px);
        .switch-label {
            font-weight: 400;
            font-size: 18px;
            line-height: 1.5;
            margin-left: 10px;
            letter-spacing: 0.00938em;
        }
    }
}
